body {
    background: #f3f3f3;
    height: 100%;
}

.query_result_container {
    padding-bottom: 30px;
}

.query_container {
    background: #f7f7f7;
    position: relative;
}

.query_container .title {
    width: 74px;
    height: 16px;
    line-height: 16px;
    margin: 17px 0;
    float: left;
    font-weight: normal;
    font-size: 14px;
    color: #333;
}

.query_container .store_query {
    display: block;
    /*     width:100px; */
    height: 18px;
    margin: 16px 0;
    float: right;
    /*     border-left:2px solid #a0a0a0; */
    padding-left: 10px;
    color: #1a98d5;
}

.query_container .store_query:hover {
    color: #0c5d86;
}

.query_container .store_query i {
    float: left;
    margin-right: 10px;
    font-size: 18px;
}

.query_container .store_query span {
    float: left;
    margin-top: 4px;
}

.query_container .query_list {
    margin-left: 80px;
    margin-right: 122px;
    position: relative;
    z-index: 60;
    background: #f7f7f7;
    height: auto;
}

.query_container .query_list ul {
    overflow: hidden;
}

.query_container .query_list li.query_item {
    max-width: 90%;
    float: left;
    height: 28px;
    line-height: 28px;
    border-radius: 5px;
    border: 1px solid #cde2ec;
    background: #e9eff6;
    margin: 10px 5px;
    color: #1e95d1;
}

.query_container .query_list li.query_item span {
    display: block;
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.query_container .query_list li.query_item i {
    display: block;
    float: right;
    height: 18px;
    line-height: 18px;
    margin: 5px 10px;
    cursor: pointer;
    font-size: 12px;
    color: #1a98d5;
}

.query_container .query_list li.query_item i:hover {
    color: #0c5d86;
}

.query_container .show_all_query {
    display: none;
    width: 36px;
    height: 36px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #dadada;
    box-shadow: 0 0 5px #ccc;
    position: absolute;
    left: 50%;
    bottom: -25px;
    z-index: 100;
    color: #1a98d5;
}

.query_container .show_all_query:hover {
    color: #0c5d86;
}

.case_selection {
    height: 38px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 15px;
    position : relative;
}

.case_selection .title {
    float: left;
    font-size: 14px;
    line-height: 38px;
    font-weight: normal;
    position : absolute;
    left : 0px;
}

.case_selection .case_selection_list {
    float: left;
    height: 38px;
    position: absolute;
    left: 75px;
}

.case_selection .case_selection_item {
    display: block;
    float: left;
    height: 35px;
    line-height: 38px;
    margin: 0 10px;
    padding: 0 5px;
    border-bottom: 3px solid transparent;
}

.case_selection .case_selection_item.active, .case_selection .case_selection_item:hover {
    border-color: #188ecf;
    color: #188ecf;
    font-weight: bold;
}

.case_selection .is_has_document {
    float: right;
    height: 24px;
    padding: 7px 0;
    display: none;
    position : absolute;
    right : 0px;
}

.case_selection .is_has_document span {
    display: block;
    height: 24px;
    line-height: 24px;
    float: left;
}

.case_selection .is_has_document span.bg {
    width: 24px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: 0 center;
    background-image: url("../../public/img/checkbox_bg.png");
}

.case_selection .is_has_document.active span.bg {
    background-position: -30px center;
}

.case_selection .is_has_document:hover {
    color: #188ecf;
}

.tree_list_container {
    width: 258px;
    float: left;
    box-shadow: 0 0 8px #ccc;
    border-radius: 10px;
    background: #f7f7f7;
    border: 1px solid #d9d9d9;
    display: none;
}

.judgement_list_container {
    margin-left: 275px;
    box-shadow: 0 0 8px #ccc;
    border-radius: 10px;
    background: #f1f1f1;
    border: 1px solid #d9d9d9;
    display: none;
}

/*鎺掑簭*/

.sort_area {
    height: 54px;
    border-bottom: 1px solid #d9d9d9;
    padding: 0 10px;
    background: #f7f7f7;
    border-radius: 10px 10px 0 0;
    font-size: 16px;
}

.sort_area h4 {
    float: left;
    height: 54px;
    line-height: 54px;
}

.sort_area ul {
    float: left;
    height: 54px;
    margin-left: 5px;
}

.sort_area .sort_type {
    float: left;
    padding: 17px 0;
    height: 20px;
    margin-right: 15px;
    cursor: pointer;
}

.sort_area .sort_type.active, .sort_area .sort_type:hover {
    color: #188dcd;
}

.sort_area .sort_type span {
    float: left;
    line-height: 20px;
}

.sort_area .sort_type i {
    float: left;
    margin-top: 3px;
    margin-left: 5px;
}

.sort_area .law_analysis_btn {
    float: right;
    display: block;
    height: 18px;
    line-height: 18px;
    padding: 18px 0;
    margin-left: 20px;
}

.sort_area .measurement_btn {
    float: right;
    display: block;
    height: 18px;
    line-height: 18px;
    /*  padding: 18px 0; */
    margin: 18px 0px;
}

.sort_area .measurement_btn .lx_icon {
    top: 10px;
    display: inline-block;
    float: right;
    width : 24px;
    height : 18px;
}

.sort_area .measurement_btn:hover {
    color: #188dcd;
}

.sort_area .measurement_btn span {
    margin-left: 10px;
}

.sort_area .law_analysis_btn i {
    font-size: 18px;
    margin-right: 10px;
    float: left;
}

.sort_area .law_analysis_btn span {
    float: left;
}

.sort_area .law_analysis_btn:hover {
    color: #188dcd;
}

.judgements {
    padding-top: 5px;
}

.judgement_item {
    background: #f7f7f7;
    padding-top: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dadada;
}

.judgement_item:hover {
    background: #fff;
}

.judgement_item .attribute_tags_container {
    height: 20px;
    float: right;
    padding: 5px 0;
}

.judgement_item .attribute_tags .zhongshen {
    border: none;
    margin-left: 0px;
    cursor: pointer;
    margin-top: 5px;
}

.judgement_item .attribute_tags_container .title {
    font-size: 14px;
    font-weight: normal;
    float: left;
    margin-right: 0;
}

.judgement_item .attribute_tags {
    float: right;
    margin-right: 10px;
}

.judgement_item .attribute_tags li {
    float: right;
    margin-left: 20px;
    border-top: 3px solid #188dcd;
    line-height: 20px;
    padding: 0 5px;
}

.judgement_item .title {
    height: 30px;
    line-height: 30px;
    margin-right: 310px;
    padding-left: 15px;
    overflow: hidden;
}

.judgement_item .title a {
    font-size: 20px;
    color: #197ab1;
    line-height: 30px;
    display: block;
    margin-left: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.judgement_item .title.general a {
    margin-left: 0;
}

.judgement_item .title .mark {
    float: left;
    display: block;
    width: 60px;
    text-align: center;
    height: 18px;
    line-height: 18px;
    color: #fff;
    background: #188ecf;
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    margin: 6px 0;
}

.judgement_item .search_info {
    padding: 0 15px;
}

.judgement_item .search_info.authoritative_case {
    background: #e9eff6;
    border-radius: 5px;
    margin: 10px 15px;
    padding-bottom: 10px;
}

/*闄勫姞淇℃伅*/

.judgement_item .attached_info {
    padding: 0 15px;
    font-size: 16px;
    color: #aaa;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.judgement_item .attached_info span {
    font-size: 12px;
    padding: 0 10px;
    line-height: 20px;
}

.judgement_item .attached_info span.first {
    padding-left: 0;
}

.judgement_item .keywords_frequency {
    height: 22px;
}

.judgement_item .keywords_frequency li {
    float: left;
    height: 14px;
    border: 1px solid #c7dee9;
    border-radius: 5px;
    padding: 3px 5px;
    color: #188dcd;
    margin-left: 10px;
    background: #e9eff6;
}

.judgement_item .keywords_frequency li span {
    float: left;
    display: inline-block;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    padding: 0 5px;
}

.judgement_item .keywords_frequency .words {
    border-right: 1px solid #1a98d5;
    padding-right: 6px;
}

/*杩涚▼*/

.judgement_item .process_preview {
    padding: 10px;
}

.judgement_item .process_preview .title {
    height: 22px;
    line-height: 22px;
    font-size: 16px;
    font-weight: normal;
    padding-left: 10px;
    border-left: 3px solid #188dcd;
}

.judgement_item .process_preview .process_chart_container {
    height: 40px;
    margin-top: 10px;
    position: relative;
    padding: 0 50px;
}

.judgement_item .process_preview .process_wrapper {
    overflow: hidden;
}

.judgement_item .process_preview .process {
    height: 40px;
    margin-left: 0;
    float: left;
}

.judgement_item .process_preview .case_process_item {
    width: 90px;
    float: left;
    height: 40px;
    position: relative;
    padding-right: 55px;
    padding-left: 5px;
}

.judgement_item .process_preview .case_process_item.last {
    padding-right: 0;
}

.judgement_item .process_preview .case_process_item:after {
    display: block;
    content: "";
    width: 50px;
    height: 0;
    border-top: 3px solid #e9e9e9;
    position: absolute;
    right: 0;
    top: 10px;
}

.judgement_item .process_preview .case_process_item.last:after {
    display: none;
}

.judgement_item .process_preview .case_process_item a {
    display: block;
    height: 40px;
}

.judgement_item .process_preview .case_process_item a.active:hover {
    color: #188dcd;
}

.judgement_item .process_preview .case_process_item span {
    display: block;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    text-align: right;
}

.judgement_item .process_preview .case_process_item span.process_name {
    background: url("../img/node.png") no-repeat left top;
    padding-left: 30px;
    text-align: left;
}

.judgement_item .process_preview .case_process_item .process_name.active {
    background: url("../img/node_active.png") no-repeat left top;
}

.judgement_item .process_preview .process_control {
    display: none;
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    font-size: 20px;
    color: #1a98d5;
}

.judgement_item .process_preview .process_control.disabled {
    color: #aaa;
    cursor: text;
}

.judgement_item .process_preview .process_control.process_control_left {
    left: 0;
}

.judgement_item .process_preview .process_control.process_control_right {
    right: 0;
}

/*鏅�妗堜緥*/

.judgement_item .search_info.common_case .process_tabbar {
    overflow: hidden;
    border-bottom: 1px solid #d9d9d9;
}

.judgement_item .search_info.common_case .process_tabbar_item {
    float: left;
    padding: 15px 5px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}

.judgement_item .search_info.common_case .process_tabbar_item.active, .judgement_item .search_info.common_case .process_tabbar_item:hover {
    color: #188dcd;
    border-bottom-color: #188dcd;
}

.judgement_item .search_info.common_case .process_tab_content {
    margin: 10px 0;
    background: #e9eff6;
    border-radius: 5px;
}

.judgement_item .search_info.common_case .process_tab_content_item {
    display: none;
    padding: 0 10px 10px 10px;
}

.judgement_item .search_info.common_case .process_tab_content_item.active {
    display: block;
}

.judgement_item .search_info.common_case .search_info_item, .judgement_item .search_info.authoritative_case .search_info_item {
    padding-top: 15px;
}

.judgement_item .search_info.common_case .search_info_item .title, .judgement_item .search_info.authoritative_case .search_info_item .title {
    height: 22px;
    padding-left: 0;
}

.judgement_item .search_info.common_case .search_info_item .title h4, .judgement_item .search_info.authoritative_case .search_info_item .title h4 {
    float: left;
    height: 22px;
    line-height: 22px;
    border-left: 3px solid #188dcd;
    padding-left: 10px;
    font-size: 16px;
    font-weight: normal;
}

.judgement_item .search_info.common_case .search_info_item p, .judgement_item .search_info.authoritative_case .search_info_item p {
    margin-top: 5px;
    line-height: 24px;
    padding-left: 10px;
    text-align: justify;
}

/*缁勫悎妫�储妗堜欢*/

.judgement_item .search_info.combined_search_case .case_line_item {
    padding: 10px;
}

.judgement_item .search_info.combined_search_case .case_line_item_title {
    height: 22px;
    line-height: 22px;
    font-size: 16px;
    font-weight: normal;
    padding-left: 10px;
    border-left: 3px solid #188dcd;
}

.judgement_item .search_info.combined_search_case .case_line_detail_list {
    margin-top: 20px;
    overflow: hidden;
}

.judgement_item .search_info.combined_search_case .case_line_detail_item {
    padding-left: 25px;
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
}

.judgement_item .search_info.combined_search_case .case_line_detail_item .case_line_node {
    display: block;
    width: 18px;
    height: 18px;
    background: url("../../public/img/process_node_bg.png") no-repeat left top;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

.judgement_item .search_info.combined_search_case .case_line_detail_item:before {
    display: block;
    content: '';
    width: 0;
    height: 100%;
    border-left: 2px solid #dadada;
    z-index: 8;
    position: absolute;
    left: 8px;
    top: 18px;
}

.judgement_item .search_info.combined_search_case .case_line_detail_item.last:before {
    display: none;
}

.judgement_item .search_info.combined_search_case .case_line_detail_item {}

.judgement_item .search_info.combined_search_case .case_line_detail_item .title {
    height: 30px;
    padding-left: 0;
}

.judgement_item .search_info.combined_search_case .case_line_detail_item .title h4 {
    float: left;
    height: 22px;
    line-height: 22px;
    font-size: 16px;
    font-weight: normal;
}

.judgement_item .search_info.combined_search_case .case_line_detail_item p {
    line-height: 24px;
    background: #e9eff6;
    padding: 10px;
    border-radius: 5px;
    margin-top: 6px;
    position: relative;
}

.judgement_item .search_info.combined_search_case .case_line_detail_item p:before {
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-width: 0 7px 6px;
    border-style: solid;
    border-color: transparent transparent #e9eff6;
    position: absolute;
    top: -6px;
    left: 25px;
}

/*鎿嶄綔  */

.judgement_item .actions {
    height: 16px;
    padding: 12px 0;
    border-top: 1px solid #dadada;
    text-align: right;
}

.judgement_item .case_action {
    display: inline-block;
    height: 16px;
    margin: 0 15px;
    cursor: pointer;
}

.judgement_item .case_action.active {
    color: #188ecf;
    cursor: pointer;
}

.judgement_item .case_action i {
    font-size: 16px;
    margin-right: 10px;
    float: left;
    display: block;
}

.judgement_item .case_action i.icon-fill-collection {
    color: #1a98d5;
}

.judgement_item .case_action span {
    display: block;
    float: left;
    height: 14px;
    line-height: 14px;
    margin-top: 2px;
}

.judgement_list_container .load_more {
    height: 30px;
    padding: 15px 0;
    background: #f7f7f7;
    border-radius: 0 0 10px 10px;
}

.judgement_list_container .load_more .load_more_btn {
    display: block;
    width: 490px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #aaa;
    background: #f0f0f0;
    margin: 0 auto;
    border-radius: 10px;
}

/*没有aggs的情况*/

.no_aggs {
    margin-left: 0px;
}

.toInnocentChart {
    width: 86px;
    line-height: 55px;
    float: right;
    cursor: pointer;
    /* font-size: 14px; */
    color: #4C5A68;
    background: url(../img/pie.png) center left no-repeat;
    background-size: 17px 17px;
    -webkit-background-size: 17px 17px;
    text-align: right;
    margin-left: 16px;
}
.toInnocentChart:hover {
    color: #188dcd;
}
