

.float_tool_bar{
	width:62px;
	position:fixed;
	z-index:100;
	right:20px;
	bottom:20px;
	font-size:12px;
}
.float_tool_bar .tool_item{
	width:60px;
	border:1px solid #dadada;
	background:#fff;
	border-radius:10px;
	position:relative;
	margin-bottom:10px;
}
.float_tool_bar .tool_btn{
	display:block;
	width:60px;
	height:46px;
	text-align:center;
	padding:7px 0;
}
.float_tool_bar .to_top_tool{
	display:none;
}
.float_tool_bar .tool_btn i{
	font-size:26px;
}

.float_tool_bar .tool_btn span{
	display:block;
	height:20px;
	line-height:20px;
	text-align:center;
}
.float_tool_bar .count{
	display:none;
	width:20px;
	height:20px;
	border-radius:50%;
	background:red;
	text-align:center;
	line-height:20px;
	position:absolute;
	right:-5px;
	top:-5px;
	color:#fff;
	z-index:400;
}
.float_tool_bar .add_count{
	display:none;
	width:60px;
	height:60px;
	text-align:center;
	line-height:60px;
	font-size:48px;
	color:red;
	position:absolute;
    top: -58px;
    left: -18px;
}
.float_tool_bar .to_fb_tool{
	text-align:center;
	padding:5px 0;
}
.float_tool_bar .to_fb_tool a{
	display:block;
	text-align:center;
	line-height:30px;
}
.float_tool_bar .to_fb_tool a:hover{
	color:#1a98d5;
}
.float_tool_bar .to_fb_tool .charge{
	margin:0 5px;
	border-bottom:1px dashed #dfdfdf;
}
/*����*/
.float_tool_bar .share {
	position: relative;
}
.float_tool_bar .tool_btn .show_share {
    width: 300px;
    height: 235px;
    background: url("../../img/big_share.png")/*tpa=http://www.chineselaw.com/www/public/img/big_share.png*/;
    position: absolute;
    top: -88px;
    left : -260px;
    opacity : 0;
    /* left: -270px; */
    z-index: -1;
    display : none;
}
.float_tool_bar .share img {
	position: relative;
    z-index: 100;
}
.float_tool_bar .share span {
	position: relative;
    z-index: 100;
}
.float_tool_bar .show_share img {
	margin : 15px 35px 10px 0px;

}
.float_tool_bar .show_share p {
	font-size : 16px;
	color : #445667;
	margin-right: 20px;
    line-height: 20px;
}









