html, body {
    font-family: "Microsoft YaHei";
    font-size: 14px;
}
body {
    background: #f6f6f6;
    color: #455666;
}
body,div, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, form, input,textarea,span,table,thead,tbody,tfoot,th,tr,td{
    margin: 0;
    padding: 0;
    line-height: 1;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

li {
    list-style: none;
}

img {
    border: 0;
}
input, textarea {
    outline-style: none;
    border: none;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color:#455666;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color:#aaa;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color:#aaa;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color:#aaa;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color:#aaa;
}
input.placeholder,textarea.placeholder{
    color: #aaa;
}
input[type="text"], input[type="password"], textarea {
    outline-style: none;
    -webkit-appearance: none;
}
textarea {
    resize: none
}
a {
    text-decoration: none;
	color: #455666;
	border:none;
	outline-style: none;
}

a:hover {
    text-decoration: none;
}
.layout{
	min-width:980px;
	margin:0 auto;
    padding-top:100px;
}
.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}
.container{
    /* min-width:960px; */
    min-width: 980px;
    max-width:1180px;
    margin:0 auto;
    padding:0 10px;
}
.highlight_words{
	color: #f75555 !important;;
}
